<div class="card__container">
    <div class="card__styles">
        <div class="card__title-container">
            <span class="card__title">Contacto</span>
        </div>
        <div class="gradient"></div>
        <div class="card__contact">
            <nav class="card__nav">
                <ul class="nav__list">
                    <ng-container *ngFor="let item of links">
                        <li class="nav__item">
                            <a class="nav__link" [href]="item.url" target="_blank">
                              <span class="nav__link-tooltip">{{item.name}}</span>
                                <img [src]="item.icon" [alt]="item.name">
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </nav>
        </div>
        <span class="card__name">Joaquin Albanesi</span>
    </div>
</div>
