@import "/src/sass/abstract/mixins";

.card__styles {
  display: flex;
  overflow: hidden;
  .col__1 {
    @include flex(column, nowrap, flex-start, flex-start);
    border-radius: $borderRadiusSm 0 0 $borderRadiusSm;
    box-shadow: 0 0 0 8px $white;
    gap: $sm;
    width: 40%;
    padding: $paddingMd;
    background: $background-gradient-tr;
    .card__img {
      border: 4px solid $white;
      margin-bottom: $marginMd;
    }
    svg {
      width: 1rem;
      fill: $white;
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
    }
    h2 {
      @include font($font-card-about, "sans-serif");
      white-space: nowrap;
      margin-bottom: $marginXs;
      margin-left: $marginSm;
    }
  }
  .col__2 {
    @include flex(column, nowrap, flex-start);
    width: 60%;
    box-shadow: 1px 0 0 $white;
    padding: $paddingMd;
    background-color: $white;
    overflow: auto;
    gap: 0.15rem;
    .card__text {
      @include font($font-card-about-description, "sans-serif", $black);
      text-wrap: balance;
    }
  }
}
