@font-face {
  font-family: "logotype";
  src: url('/assets/fonts/logotype-extrabold.otf');
}
@font-face {
  font-family: "logotype-light";
  src: url('/assets/fonts/logotype-light.ttf');
}
@font-face {
  font-family: "logotype-medium";
  src: url('/assets/fonts/logotype-medium.ttf');
}
