<div class="card__container">
  <div class="card__styles">
    <div class="card__title-container">
      <span class="card__title">Proyectos</span>
    </div>
    <div class="works__container">
      <div class="work__container-overflow">
        <ng-container *ngFor="let data of dataProjects">
          <div class="card__works" (click)="openModal(data.id)">
            <img class="card__works-img" [src]="data.img" alt="">
            <div class="card__works--shadow"></div>
            <div class="card__works--backdrop"></div>
            <h2 class="card__works-name">
              {{ data.title }}
            </h2>
            <div class="card__works-tech">
              <span *ngFor="let stackItem of data.stack">
                {{ stackItem.name }}
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
