@import "/src/sass/abstract/mixins";
@import "/src/sass/variables/variablesColor";
@import "/src/sass/variables/variablesSpacing";

.works {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  .card {
    @include cardStyle;
  }
}
