@import "/src/sass/abstract/mixins";

.header {
  width: 100%;
  backdrop-filter: blur($blur);
  .nav__button {
    background-color: transparent;
    border: 0;
    border-radius: $borderRadiusXs;
    margin-top: $marginSm;
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
  .nav__item {
    border-radius: $borderRadiusXs;
    .nav__link {
      @include font($font-header, "logotype-medium");
      white-space: nowrap;
      border-radius: $borderRadiusXs;
      padding: 8px 16px;
      &:hover {
        background-color: $hover-link;
      }
    }
  }
}

// Mobile version
@media (max-width: 1100px) {
  .header {
    @include flex(column);
    position: relative;
    min-height: 50px;
    transition: background-color .3s ease;
    background: $background-header;
    &.active {
      background-color: rgba(0, 0, 0, 0.8);
    }
    .nav__button {
      margin-bottom: $marginSm;
    }
    .nav__list {
      padding: $paddingMd 0;
      animation: fadeIn 0.4s ease-in-out;
      &.hidden {
        animation: fadeOut 0.4s ease-in-out;
      }
      z-index: 1;
      @include flex(column);
    }
  }
  .nav {
    @include flex(column);
  }
  .nav__item {
    @include flex(column);
    padding: $paddingSm;
  }
}
// Desktop version
@media (min-width: 1101px) {
  .header {
    background-color: transparent;
    .nav {
      @include flex;
      .nav__list {
        @include flex;
      }
    }
  }
  .nav__button {
    display: none;
  }
  .nav__item {
    padding: $paddingMd;
  }
}
// Nav active
.nav__list .active {
  background-color: rgba(255, 255, 255, 0.35);
}
// Nav Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
// SVG Hamburguer Animation
$transition-duration: 400ms;
$stroke-dasharray-top: 40 172;
$stroke-dasharray-middle: 40 111;
.ham {
  height: 40px;
  width: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform $transition-duration;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .top,
  .middle,
  .bottom {
    stroke-dasharray: $stroke-dasharray-top;
  }
  .middle {
    stroke-dasharray: $stroke-dasharray-middle;
  }
  &.active {
    .top {
      stroke-dashoffset: -132px;
    }
    .middle {
      stroke-dashoffset: -71px;
    }
    .bottom {
      stroke-dashoffset: -132px;
    }
  }
  &.active {
    transform: rotate(0deg);
  }
}
.hamRotate.active {
  &.hamRotate180 {
    transform: rotate(180deg);
  }
}
.line {
  fill: none;
  transition:
    stroke-dasharray $transition-duration,
    stroke-dashoffset $transition-duration;
  stroke: $white;
  stroke-width: 5;
  stroke-linecap: round;
}
