<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item active">
        <a class="nav__link" href="">Inicio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Sobre Mi</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Proyectos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Habilidades</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
