@import "/src/sass/abstract/mixins";

.modal {
  @include positionAbsolute(50%, 50%);
  transform: translate(50%, -50%);
  display: none;
  width: 100%;
  background-color: $white;
  border-radius: $borderRadiusMd;
  padding: $paddingMd;
  z-index: 20;
  &.open {
    display: block;
  }
}
.modal__container {
  width: 100%;
  height: 100%;
  .modal__header {
    @include flex(row, nowrap, space-between, flex-start);
    margin-bottom: 1rem;
    .modal__title {
      @include font($font-modal-title, "logotype", $black);
    }
    .modal__close {
      width: 44px;
      height: 44px;
      background-color: transparent;
      border: none;
      border-radius: $borderRadiusSm;
      padding: 0;
      svg {
        width: 100%;
        height: 100%;
        transition: all 0.25s;
        &:hover {
          fill: rgb(230, 22, 22);
        }
      }
    }
  }
  .modal__carousel {
  }
  .modal__description {
    @include font($font-modal-description, "sans-serif", $black);
  }
}

.modal__btn {
  @include flex;
  grid-area: btn;
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: $borderRadiusSm;
}
swiper-container {
  width: 100%;
  height: 100%;
  swiper-slide {
    swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper-carousel {
  height: 100%;
  width: 100%;
  border-radius: $borderRadiusSm;
  overflow: hidden;
}
.swiper-preview {
  box-sizing: border-box;
  padding-top: $paddingMd;
  height: 100%;
}
.swiper-preview swiper-slide {
  width: 25%;
  border-radius: $borderRadiusSm;
  opacity: 0.6;
  overflow: hidden;
}
.swiper-preview .swiper-slide-thumb-active {
  opacity: 1;
}

@include mediaQuery("mobile") {
  .modal {
    padding: $paddingSm;
    width: 100%;
    .modal__header {
      padding: 0 $paddingMd;
      .modal__close {
        width: 25px;
        height: 25px;
    }
  }
  }
  .modal__container {
    justify-content: flex-start;
  }
  .swiper-preview {
    padding-top: $paddingSm;
  }
}


.modal__container {
  width: 100%;
  height: 100%;
   background-color: red;
}
