@import "/src/sass/abstract/mixins";
@import "/src/sass/variables/variablesColor";
@import "/src/sass/variables/variablesSpacing";

.home {
  @include flex;
  @include font('', 4em, $white);
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}
