@import "/src/sass/abstract/mixins";

.home {
  @include font($font-title-home, "logotype-light");
  .home__name {
    @include positionAbsolute(70%, 50%);
    transform: translate(50%, -50%);
    pointer-events: none;
    z-index: 2;
  }
}
