$black: #000000;
$dark-gray: #212121;
$gray: #adb5bd;
$light-gray: #dee2e6;
$white: #ffffff;

$primary-color: #d3252b;

$hover-link: #ffffff26;
$background-header: #00000026;
$background-gradient-tr: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.85),
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.15),
  rgba(0, 0, 0, 0)
);

$blur: 10px;
