$black: #000000;
$dark-gray: #212121;
$gray: #adb5bd;
$light-gray: #dee2e6;
$white: #ffffff;

// Colores de marca
$primary-color: #d3252b; // Rojo
$secondary-color: #6c757d; // Gris
$success-color: #28a745; // Verde
$info-color: #17a2b8; // Azul claro
$warning-color: #ffc107; // Amarillo
$danger-color: #dc3545; // Rojo

// Colores adicionales
$hover-dark: #414141;
$link-color: #007bff; // Color predeterminado para enlaces
$body-bg-color: #fff; // Color de fondo del cuerpo
$body-color: #333; // Color de texto principal
$border-color: #ddd; // Color de borde predeterminado


$backgroundFooter: #000000;
