$font-title: (
  mobile: 1rem,
  tablet: 1.25rem,
  desktop: 1.5rem
);

$font-title-home: (
  mobile: 2rem,
  tablet: 3rem,
  desktop: 4rem
);

$font-header: (
  mobile: 1rem,
  tablet: 1.15rem,
  desktop: 1.25rem
);

$font-card-title: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 1.25rem
);

$font-card-about: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 1.25rem
);

$font-card-about-description: (
  mobile: 0.85rem,
  tablet: 1rem,
  desktop: 1.25rem
);

$font-works-title: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 1.15rem
);

$font-works-tech: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 0.85rem
);

$font-skill: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 1.25rem
);

$font-contact: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 2rem
);
$font-contact-tooltip: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 1rem
);

$font-modal-title: (
  mobile: 1rem,
  tablet: 1rem,
  desktop: 2rem
);

$font-modal-description: (
  mobile: 0.85rem,
  tablet: 1rem,
  desktop: 1.25rem
);
