.btn__code {
  background-color: #111111;
  margin-right: 2rem;
  &:hover {
    background-color: #212121;
  }
}
.btn__deploy {
  background-color: #441aa6;
  &:hover {
    background-color: #5a33b5;
  }
}
.btn__code,
.btn__deploy {
  @include font($font-header, "logotype");
  position: relative;
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  padding-left: 1rem;
  cursor: pointer;
  &:active {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 2px black;
  }
  svg {
    @include positionAbsolute(50%, auto, auto 50%);
    transform: translate(-190%, -50%);
    width: 24px;
  }
  &-link {
    color: $white;
  }
}
