@import "/src/sass/abstract/mixins";
@import "/src/sass/variables/variablesColor";
@import "/src/sass/variables/variablesSpacing";

.container__skills {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  .card {
    @include cardStyle;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem 1rem;
    .card__skill {
      @include flex(column, nowrap, space-evenly, center);
      border-radius: 0.25rem;
      transition: all 0.25s ease;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      &:hover {
        will-change: transform;
        transform: scale(0.95);
      }
      &-img {
        width: 25%;
        filter: invert(1) drop-shadow( 0 0 10px rgba(0, 0, 0, 0.15));
      }
      &-name {
        @include font("", 1.25em, $white);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
