@import "sass/variables/variablesColor";
@import "sass/variables/variablesFont";
@import "sass/variables/variablesSpacing";
@import "sass/base/reset";
@import "sass/base/typography";
@import "sass/abstract/mixins";
@import "sass/components/cards";
@import "sass/components/buttons";
@import "sass/components/components";

html,
body {
  position: relative;
  height: 500vh;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}
